<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'AccordionFeatureList',

  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      groups: [],
      currentGroupIndex: 0,
      activeGroup: {},
    };
  },
  mounted() {
    this.groups = this.data.groups.map((group: Object) => ({
      ...group,
      expanded: false,
    }));
  },
  methods: {
    toggleGroup(groupIndex: number): void {
      if (this.currentGroupIndex === groupIndex) {
        (this as any).groups[this.currentGroupIndex].expanded = !(this as any)
          .groups[this.currentGroupIndex].expanded;

        this.currentGroupIndex = 0;
        this.activeGroup = !(this as any).groups[this.currentGroupIndex];
      } else {
        (this as any).groups[this.currentGroupIndex].expanded = false;
        (this as any).groups[groupIndex].expanded = !(this as any).groups[
          groupIndex
        ].expanded;
        this.currentGroupIndex = groupIndex;
      }
    },
    beforeEnter(el) {
      el.style.height = '0';
    },
    enter(el) {
      el.style.height = `${el.scrollHeight + 32}px`;
    },
    beforeLeave(el) {
      el.style.height = `${el.scrollHeight + 32}px`;
    },
    leave(el) {
      el.style.height = '0';
    },
  },
});
</script>
<template>
  <div class="container">
    <div class="feature-list">
      <SlpTypography class="title" variant="heading4-bold" tag="h4">
        {{ data.title }}
      </SlpTypography>
      <SlpRow class="feature-list_container">
        <div
          v-for="(group, groupIndex) in groups"
          :key="groupIndex"
          class="content"
        >
          <div class="horizontal-rule"></div>
          <div
            :aria-expanded="`${group.expanded}`"
            @click="toggleGroup(groupIndex)"
          >
            <SlpTypography
              class="content__list-title"
              variant="heading5"
              tag="h5"
            >
              <span> {{ group.group_name }}</span>
              <span
                class="content__list-title-icon"
                :class="
                  group.expanded
                    ? 'content__list-title-icon--open'
                    : 'content__list-title-icon--closed'
                "
              >
              </span>
            </SlpTypography>
          </div>

          <div class="content__list-container">
            <div
              v-show="group.expanded"
              :key="groupIndex + group.group_name"
              class="container_content-expanded-list"
            >
              <transition
                @before-enter="beforeEnter"
                @enter="enter"
                @before-leave="beforeLeave"
                @leave="leave"
              >
                <div class="feature-list__grid-content">
                  <ul class="feature-list__grid-content-list1">
                    <li
                      v-for="(item, index) in groups[currentGroupIndex].items
                        .list1"
                      :key="index"
                      class="feature-list__grid-item"
                    >
                      <SlpTypography variant="body2">
                        {{ item.title }}
                      </SlpTypography>
                    </li>
                  </ul>
                  <ul class="feature-list__grid-content-list2">
                    <li
                      v-for="(item, index) in groups[currentGroupIndex].items
                        .list2"
                      :key="index"
                      class="feature-list__grid-item"
                    >
                      <SlpTypography variant="body2">
                        {{ item.title }}
                      </SlpTypography>
                    </li>
                  </ul>
                  <ul class="feature-list__grid-content-list3">
                    <li
                      v-for="(item, index) in groups[currentGroupIndex].items
                        .list3"
                      :key="index"
                      class="feature-list__grid-item"
                    >
                      <SlpTypography variant="body2">
                        {{ item.title }}
                      </SlpTypography>
                    </li>
                  </ul>

                  <ul class="feature-list__grid-content-list4">
                    <li
                      v-for="(item, index) in groups[currentGroupIndex].items
                        .list4"
                      :key="index"
                      class="feature-list__grid-item"
                    >
                      <SlpTypography variant="body2">
                        {{ item.title }}
                      </SlpTypography>
                    </li>
                  </ul>
                </div>
              </transition>
            </div>
          </div>
        </div>
      </SlpRow>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.horizontal-rule {
  border-top: 1px solid $color-surface-300;
  width: 100%;
}
.container {
  background: #f6f3fe;
  max-width: 100%;
  display: flex;
  justify-content: center;
}
// .content__extra {
//   position: absolute;
//   transform: translate(-3px, -4px);
// }
.feature-list {
  width: 1170px;
  gap: 40px;
  padding: 60px 60px 0px 0px;
  @media screen and (max-width: 1168px) {
    padding: 60px 60px;
  }
  @media screen and (max-width: $breakpoint-md) {
    padding: 60px 35px;
  }
  .title {
    margin-bottom: 41px;
  }
  &_container {
    display: flex;
    flex-direction: column;
  }
  &_content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10%;

    @media (max-width: $breakpoint-md) {
      margin-left: 0;
      margin-right: 0;
      padding: 0%;
      max-width: 95%;
      width: 100%;
    }

    @media (min-width: 1024px) {
      max-width: 1024px;
      padding: 0;
    }
    @media (min-width: 1170px) {
      max-width: 1170px;
      padding: 0;
    }
  }

  &__grid {
    width: 100%;
    &-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &-list1,
      &-list2,
      &-list3,
      &-list4 {
        padding: 0px 30px;
        flex: 20%;
        list-style-type: disc;
        li {
          font-size: 19px;
          display: list-item;
          margin-bottom: 20px;
        }
        @media screen and (max-width: $breakpoint-md) {
          padding-left: 24px;
          padding-right: 16px;
          margin-bottom: 15px;
          li {
            margin-bottom: 28px;
          }
        }
      }

      @media screen and (max-width: $breakpoint-md) {
        flex-direction: column;
      }
    }
    @media screen and (max-width: $breakpoint-md) {
      gap: 40px;
    }
  }
  .content__list-title {
    margin: 16px 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &:deep .slp-icon {
      transition: all 0.5s ease-in-out;
      height: 20px;
      width: 20px;
    }
    &-icon {
      height: 18px;
      min-width: 18px;
      position: relative;
      transition: transform 0.4s ease-in-out;

      &--open {
        transform: rotate(90deg);

        &:after {
          opacity: 0;
        }
      }

      &:before,
      &:after {
        content: '';
        background-color: black;
        position: absolute;
        display: block;
      }

      &:before {
        height: 18px;
        width: 2px;
        left: 50%;
      }

      &:after {
        height: 18px;
        width: 2px;
        transform: rotate(-90deg);
        top: 50%;
        transform-origin: top;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}
</style>
