<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { init, refresh } from 'aos';
import DefaultTemplate from '~/components/solutions/templates/default-template.vue';
import IndustryTemplate from '~/components/solutions/templates/industry-template.vue';

import { getPageMetadata } from '~/common/meta';
import { TEMPLATES } from '~/common/constants';

export default Vue.extend({
  components: {
    DefaultTemplate,
    IndustryTemplate,
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const solutions = await $content(
        `solutions/value-stream-management/${
          params.slug ? params.slug : 'index'
        }`,
      ).fetch();
      return { solutions };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  data() {
    return {
      TEMPLATES,
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).solutions, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
});
</script>

<template>
  <industry-template
    v-if="solutions.template === TEMPLATES.Industry"
    :solutions="solutions"
  />
  <default-template v-else :solutions="solutions" />
</template>
